<app-board [note]="1"></app-board>
<app-board [note]="2"></app-board>
<app-board [note]="3"></app-board>
<app-board [note]="4"></app-board>
<app-board [note]="5"></app-board>
<app-board [note]="6"></app-board>
<app-board [note]="7"></app-board>
<app-board [note]="8"></app-board>
<app-board [note]="9"></app-board>
<app-board [note]="10"></app-board>
<app-board [note]="11"></app-board>
<app-board [note]="12"></app-board>
<app-board [note]="13"></app-board>
<app-board [note]="14"></app-board>
<app-board [note]="15"></app-board>
<app-board [note]="16"></app-board>
<app-board [note]="17"></app-board>
<app-board [note]="18"></app-board>
<app-board [note]="19"></app-board>
<app-board [note]="20"></app-board>
<app-board [note]="21"></app-board>
<app-board [note]="22"></app-board>
<app-board [note]="23"></app-board>
<app-board [note]="24"></app-board>